body{
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
	background-color: #ede18a;
}


input[type="submit"]:hover {
  background: red;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: brown;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

header{
	margin-bottom:1%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3c1a05;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #9e8f23;
	color: #3c1e05;
	font-style: italic;
}


.connection_info{
	float:right;
}


/* Page d'accueil */
.homepage{
    display:flex;
}

.homepage_article1 {
    flex: 0 0 40%;
}
.homepage_article2 {
    flex:1;
    
}
.homepage_article2,.homepage_article1{
	background-color: rgba(200,181,145,0.7);
	margin-right:5%;
    margin-top:1%;
    margin-left:2%;
    padding:2%;
    border:groove 2px #000000;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:9px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;


}
.homepage_article2 h1,.homepage_article1 h1{
	text-align: center;
	margin-top:1%;
}
.homepage_article1 h1{
	margin-bottom: 10%;
}
.homepage_article1 p,.homepage_article2 p{
	border-top:groove 2px #000000;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.homepage_article2 p{
	padding-top:3%;
}
.homepage_article1 p{
	padding-top:1%;
}

.homepage a{
	color:#3c1a05;
}

.homepage a:hover{
	font-weight: bold;
}

/*Affichage des formulaires d'inscription et de connexion*/
.registration, .connection {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 8px;
  border : 1px solid black;
}

.registration input[type="text"], .connection input[type="text"],
.registration input[type="password"], .connection input[type="password"],
.registration input[type="email"], .connection input[type="email"]{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 90%;
  background-color: #e1e0d3;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 18px;
}

.registration input[type="submit"], .connection input[type="submit"]{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3c1a05;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

form{
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 8px;
}

.display_good, .display_service, .manage_good, .manage_service{
	border : 1px solid black;
}

/*Affichage de la modification ou la création des biens et services*/
.manage_good input[type="text"], .manage_service input[type="text"],
.manage_service input[type="number"], .manage_good input[type="number"],textarea{
	background: rgba(255,255,255,0.1);
  	border: none;
  	font-size: 16px;
  	height: auto;
  	margin: 0;
  	outline: 0;
  	padding: 15px;
  	width: 90%;
  	background-color: #e1e0d3;
  	color: black;
  	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  	margin-bottom: 18px;
}

.manage_good input[type="submit"], .manage_service input[type="submit"],
button{
	padding: 15px 35px 14px 35px;
  	color: #FFF;
  	background-color: #3c1a05;
  	font-size: 18px;
  	text-align: center;
  	font-style: normal;
  	border-radius: 5px;
  	width: 100%;
  	border: 1px solid black;
  	border-width: 1px 1px 3px;
  	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  	margin-bottom: 10px;
}

/*Affichage des biens et services*/


/*Affichage de la recherche*/
.search{
	height: 40px;
	max-width: 300px;
	margin: 10px auto;
  	padding: 10px 20px;
  	background: #ede18a;
}

input[type="search"]{
	width: 100%;
    height: 40px;
    font-size: 14px;
}

/* Affichage cagnotte */
.profile_nav{
  float:left;
  margin-bottom: 100%;
  margin-right:5%;
  margin-left:1%;
  border: 1px solid black;
  padding: 1%;
  background-color: white;
  margin-top:1%;
}

.profile_nav a{
  color:brown;
  text-decoration: none;
}
.profile_nav a:hover{
  color:brown;
  text-decoration: underline;
}

.profile_jackpot{
  margin-top:2%;
  background-color: white;
  margin-left:21%;
  margin-right:7%;
  padding:1%;
  border: 1px solid black;


}
.profile_nav,.profile_jackpot,.profile_money_earned,.profile_money_spent{
  border:groove 2px #000000;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:9px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.profile_jackpot h1{
  margin-left:35%;
  margin-top:0;
}

.profile_jackpot b{
  font-size: 2em;
}

.value_money{
  display:flex;
}

.profile_money_earned{
  flex: 0 0 40%;
  margin-right:1%;
}

.profile_money_spent{
  flex:1;
  margin-right:7%;
}

.profile_money_earned,.profile_money_spent{
  padding: 1%;
  border: 1px solid black;
  padding-left:5%;
  margin-left:1%;
}


/* Editer le profil */

.edit_profile{
  text-align: center;
  border: 1px solid black;
  background-color: white;
  width:20%;
  margin-left: 40%;

}

.edit_profile a{
  color:brown;
  text-decoration: none;
}
.edit_profile a:hover{
  color:brown;
  text-decoration: underline;
}


/*changer le mot de passe */
.change_password{
  background: #F9F9F9;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.change_password input{
  width: 75%;
  margin: 0 auto;
  position: relative;
  margin-bottom:5%;
}

.change_password label{
  padding-right:5%;
  text-align: justify;
}

.change_password input[type="submit"]:hover {
  background: red;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.change_password input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: brown;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

/*informations générales */

.general_information{
  text-align: center;
  background: #F9F9F9;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin:auto;
  width:30%;
  padding:2%;
}


/*Choix d'affichage BS */

.choice_bs_global{
  text-align: center;
  background: #F9F9F9;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin:auto;
  width:50%;
  padding:2%;
  margin-top:2%;
   border:groove 2px #000000;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:9px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.choice_bs{
  display:flex;
}

.choice_bs_global h2{
  text-decoration: underline;
}

.choice_bs a{
  font-size: 3em;
  text-decoration: none;
  color:brown;
}

.choice_bs a:hover{
  font-style: italic;
}

#choice_service,#choice_good{
  text-align: left;
}
#choice_service1,#choice_good1{
  text-align: left;
}

.choice_good {
    flex: 0 0 40%;
    margin-right:5%;
}

.choice_service {
    flex:1;
}

/*notifications */
.notifications{
  text-align: center;
  background: #F9F9F9;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin:auto;
  width:50%;
  padding:2%;
     border:groove 2px #000000;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:9px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.notifications p{
  border: 1mm ridge black;
  margin-bottom: 5%;
  padding: 2%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}

.notifications h2{
  margin-top:0;
}

.notifications a{
  color:brown;
  text-decoration: none;
}

.notifications a:hover{
  color:brown;
  text-decoration: underline;
}

/*timeslot*/
.form_display_timeslot{
  max-width: 100%;
  width:30%;
  margin: auto;
  padding: 2%;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
    margin-bottom:2%;
}
.display_timeslot{
  width: 50%;
  padding:1%;
}
.display_timeslot select{
  margin-bottom: 4%;
  width: 30%;
}
.display_timeslot_1 select{
  width: 30%;
  margin-bottom: 4%;
}
.display_timeslot_2 select{
  width: 30%;
  margin-bottom: 4%;
}

.historique_timeslot{

  max-width: 100%;
  margin: auto;
  padding-right: 0; 
  background: #ffffff;
  border-radius: 2px;
  width: 30%;
   border:groove 2px #000000;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:9px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    padding:2%;
    margin-bottom:1%;
}

.historique_timeslot button{
  font-size: 1em;
  padding: 0;
  margin:0;
  margin-left:15%;
  width: 25%;
  color: #FFF;
  background-color: brown;
  text-align: center;
  font-style: normal;
  border-radius: 8px;
  border: 1px solid black;
  border-width: 1px 1px 3px;
  box-shadow: none;
  margin-bottom: 0;

 
}

.historique_timeslot p{
  margin-right: 0%;
}

.historique_timeslot div{
  margin-bottom:5%;
  display: flex;
}

.erreur_timeslot{
  text-align: center;
  background: #F9F9F9;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin:auto;
  margin-bottom:2%;
  width:30%;
  padding:2%;
  color:red;
}

.good_subscription select{
  margin-bottom:4%;

}

.good_subscription{
  padding:2%;
    border:groove 2px #000000;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-top-left-radius:9px;
    -webkit-border-top-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    border-top-left-radius:9px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}